
#---------------------------------------- SYSTEM INFO ---------------------------------------------------
# ENABLE MPC
0

# USE_CASADI
0

# use_sparse
0

# n m ne
6 	2 	2

# A
1.000000000000000   0.060000000000000   0.001800000000000                   0                   0                   0
               0   1.000000000000000   0.060000000000000                   0                   0                   0
               0                   0   1.000000000000000                   0                   0                   0
               0                   0                   0   1.000000000000000   0.060000000000000   0.001800000000000
               0                   0                   0                   0   1.000000000000000   0.060000000000000
               0                   0                   0                   0                   0   1.000000000000000


# B
0.000036000000000                   0
0.001800000000000                   0
0.060000000000000                   0
               0   0.000036000000000
               0   0.001800000000000
               0   0.060000000000000



#---------------------------------------- HORIZON ---------------------------------------------------
# dt
0.05

# N
15


#---------------------------------------- DIAG COST MATRICES ---------------------------------------------------

#Qx
#1 	0.1 0 	    	1 	0.1 	0
#40000 20000 300 
#400 10 1
5000 200 20
5000 200 20

#Qf
#1 	0.1 0 	    	1 	0.1 	0
5000 200 20
5000 200 20
#Ru
1 	1


#---------------------------------------- BOX CONSTRAINTS ---------------------------------------------------
# x_min_max
-0.3 		-0.15
-0.15		0.15
-0.8	 	0.8

-0.04 		0.04
-0.2		0.2
-0.8		0.8
#-0.3 		-0.1
#-0.005		0.005
#-0.5	 	0.5
#-0.04 		0.04
#-0.1		0.1
#-0.5		0.5

# u_min_max
-100	100
-100	100


#---------------------------------------- ADITIONAL and SOFT CONSTRAINTS ---------------------------------------------------
# aditional (polytopic) constraints
# n_poly
4

# n_soft
4

# ne_pattern (in respect to Fx matrix - which constraints are soft)
# Esoft_pattern
0 0  0 0  0 0  0 0  0 0  0 0  	1 1 1 1  	

# Psoft (diag cost matrix for soft constraint violation)
#1 	1 	1 	1
1000000 	1000000 	1000000 	1000000
#10000000 10000000 10000000 10000000
#0 	0 	0 	0

#Pmargin
0.04


















