# mu_wall
0.5

# mu_ground
0.25

# mu_conservative_scaling (in percentage)
25

# forceTreshold
0.05

# maxForce
60

# fdo_dt
0.01

#======================= FILTERS ======================================
# rawForcesFilter
0.1

# leg_loading_filter -> N/s
25

# leg_approach_speed
0.05
#==================== CONTACT FORCES PID =================================
# contactF_pid_Kp 
0.04

# contactF_pid_Ki 
0.0

# contactF_pid_Kd 
10

# contactF_pid_Td 
0.5

# contactF_pid_limit
0.05