#IS_SIMULATION 
1

#IS_OPTIMIZATION
0

#USE_JOYSTICK   
0

#SWIM   s
0

#SPINE_COMPENSATION_WITH_FEEDBACK 
0

#USE_REFLEXES
0

#USE_TAIL
1

#USE_IMU
0

#AUTO_RUN
1

#AUTO_RUN_STATE     ->    WALKING, STANDING, POSING, SWIMMING, ANIMAL_WALKING, ANIMAL_SWIMMING, ANIMAL_AQUASTEP, INITIAL
0

#LOG_DATA
1

#JOYSTICK_RECORDING_REPLAYING   0 - nothing, 1 - record, 2 - replay
0

# Nlegs, Ntrunk, Nneck, Ntail
4 	2 	0	0

#USED_MOTORS   

#FL
1	1	1	1	
# 0	0	0	0
#FR
1	1	1	1	
# 0	0	0	0
#HL
1	1	1	1	
# 0	0	0	0

#HR
1	1	1	1	
# 0	0	0	0

# trunk
1 		1	1	 1 1
# 0	 0	